@model RestaurantMVC.Models.OrderUpdate

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>OrderUpdate</h4>
@if (TempData["error"] != null)
{
    <p class="text-danger">@TempData["error"]</p>
}
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ArticleDecreaseRequest.IdArticle" class="control-label"></label>
                <select asp-for="@Model.ArticleDecreaseRequest.IdArticle" class="form-control">
                    @foreach (var article in Model.Articles)
                    {
                        <option value="@article.Id">@article.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.ArticleDecreaseRequest.IdArticle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ArticleDecreaseRequest.DeleteAll" class="control-label"></label>
                <select asp-for="@Model.ArticleDecreaseRequest.DeleteAll" class="form-control">
                    <option value="1">true</option>
                    <option value="0">false</option>
                </select>
                <span asp-validation-for="@Model.ArticleDecreaseRequest.DeleteAll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Decrease" class="btn btn-primary" />
            </div>
        </form>

        <form asp-route="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.TableChangeRequest.IdTable" class="control-label"></label>
                <select asp-for="@Model.TableChangeRequest.IdTable" class="form-control">
                    @foreach (var table in Model.Tables)
                    {
                        <option value="@table.Id">@table.Name - @table.Sector</option>
                    }
                </select>
                <span asp-validation-for="@Model.TableChangeRequest.IdTable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <form asp-route="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.OrderRequest.IdArticle" class="control-label"></label>
                <select asp-for="@Model.OrderRequest.IdArticle" class="form-control">
                    @foreach (var type in Model.ArticlesAll)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.OrderRequest.IdArticle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
        <form asp-route="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Status" class="control-label"></label>
                <select asp-for="@Model.Status" class="form-control">
                    <option value="paid">pay</option>
                    <option value="storned">storn</option>
                </select>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay/storn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

